<div class="jumbotron">
    <h1 class="alert alert-primary">
        VARIABLES DE CONFIGURACION
    </h1>
    <ol>
        <li>NODE_ENV: {{config.NODE_ENV}}</li>
        <li>PORT: {{config.PORT}}</li>
        <li>MODO: {{config.MODO}}</li>
        <li>ADMIN: {{config.ADMIN}}</li>
        <li>MONGO_URL: {{config.MONGO_URL}}</li>
        <li>PERS: {{config.PERS}}</li>
        <li>SECRET_KEY: {{config.SECRET_KEY}}</li>
        <li>SESSION_EXPIRES: {{config.SESSION_EXPIRES}}</li>
    </ol>
</div>